.interChild{
    padding: 60px 0;
    &-left{
        &-header{
            h4{
                a{
                    color: #33353b;
                    font-weight: 600;
                    font-size: 2.2rem;
                }
            }
            img{
                height: 100px;
                margin-bottom: 25px;
            }
        }
        &-text{
            padding: 30px 0;
            p{
                font-size: 18px;
                color: #797979;
                margin-bottom: 16px;
            }
        }
        .comment{
            border-top: 1px solid #E5E5E5;
            padding: 40px 0;
            h5{
                font-weight: 600;
                margin-bottom: 20px;
            }
            form{
                margin-bottom: 30px;
                input{
                    padding: 6px 18px;
                    display: inline-block;
                    width: 100%;
                    margin-bottom: 16px;
                    background-color: #FBF9FF;
                    border: none;
                }
                textarea{
                    padding: 6px 18px;
                    width: 100%;
                    resize: none;
                    height: 120px;
                    background-color: #FBF9FF;
                    border: none;
                }
                button{
                    margin-top: 10px;
                    padding: 4px 10px;
                    background-color: #ff7a7f;
                    color: #fff;
                    border: none;
                }
            }
            &-section{
                padding-top: 30px;
                border-top: 1px solid #E5E5E5;
                h6{
                    font-weight: 600;
                    font-size: 15px;
                    color: #000;
                    span{
                        font-weight: normal;
                        font-size: 13px;
                        color: #797979;
                        &:hover{
                            color: #000;
                        }
                    }
                }
                p{
                    margin-bottom: 30px;
                }
            }
        }
    }
    &-right{
        .recent{
            padding: 25px;
            background-color: #FBF9FF;
            margin-bottom: 30px;
            &-header{
                h5{
                    font-size: 1.4rem;
                    font-weight: 600;
                    padding-bottom: 25px;
                    margin-bottom: 35px;
                    border-bottom: 1px solid #f0e9ff;
                }
            }
            &-text{
                h6{
                    a{
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
                p{
                    font-size: 14px;
                }
            }
        }

        .banner{
            margin-bottom: 30px;
            width: 354px;
            height: 295px;
            padding: 0;
            img{
                height: 100%;
            }
        }

        .feeds{
            padding: 25px;
            background-color: #FBF9FF;
            margin-bottom: 30px;
            &-header{
                h5{
                    font-size: 1.4rem;
                    font-weight: 600;
                    padding-bottom: 25px;
                    margin-bottom: 35px;
                    border-bottom: 1px solid #f0e9ff;
                }
            }
            &-items{
                padding-bottom: 25px;
                .feeds-img{
                    width: 91.333px;
                    height: 91.333px;
                    img{
                        height: 100%;
                    }
                }
            }
        }
        
    }
}