@import "breakpoints";

@include xs {

    .header{
        &-top{
            // .social-icons{
            //     width: 50%;
            //     display: inline-block;
            // }
            // .logo{
            //     width: 50%;
            //     display: inline-block;
            // }
            .search{
                display: none;
            }
        }
        &-bottom{
            display: none;
        }
    }

    .cards{
        
        &-top{
            margin-bottom: 50px;
            &-left{
                &-text{
                    width: 90%;
                    right: -5%;
                    bottom: 30px;
                    padding: 20px;
                    position: relative;
                    .sub-heading{
                        a{
                            font-size: 11px;
                        }
                    }
                    h3{
                        a{
                            font-size: 1.05rem;
                        }
                    }
                    p{
                        font-size: 12px;
                    }
                }
            }
            &-mid{
                &-text{
                    transform: translateY(50%);
                    text-align: center;
                    h3{
                        a{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
            &-right{
                &-text{
                    padding: 5px 8px;
                    h6{
                        a{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        &-bottom{
            &-left{
                &-text{
                    padding: 20px;
                    h3{
                        a{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    .trending{
        padding: 60px 0;
        &-header {
            padding-bottom: 40px;
            h3 {
                a {
                    font-size: 1.2rem;
                }
            }

            p {
                font-size: 12px;
            }
        }
        &-card{
            &-text{
                margin-top: 0;
                right: 0;
                padding: 20px;
                h4{
                    a{
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .picks {
        &-header {
            h3 {
                a {
                    font-size: 1.8rem;
                }
            }

            p {
                font-size: 14px;
            }
        }

        &-left {
            &-text {
                width: 90%;
                padding: 20px;

                h3 {
                    a {
                        font-size: 16px;
                    }
                }

                p {
                    font-size: 12px;
                }
            }
        }

        &-right{
            &-text{
                p{
                    font-size: 15px;
                }
                padding: 0 25px 0 0;
            }
        }
    }

    .travel {
        padding: 60px 0;

        &-header {
            padding-bottom: 40px;
            h3 {
                a {
                    font-size: 1.2rem;
                }
            }

            p {
                font-size: 14px;
            }
        }

        &-left {
            margin-bottom: 30px;

            &-text {
                margin: 0;
                right: 0;
                width: 100%;
                padding: 20px;
            }

            .sub-heading {
                font-size: 13px;
            }

            h3 {
                a {
                    font-size: 18px;
                }
            }

            p {
                a {
                    font-size: 13px;
                }
            }
        }

        &-right {
            margin-bottom: 30px;
            &-text {
                h4 {
                    a {
                        font-size: 1.05rem;
                    }
                }

                p {
                    font-size: 13px;
                }
            }
        }
    }

    .sports {
        padding: 60px 0;
        &-header {
            h3 {
                a {
                    font-size: 1.2rem;
                }
            }

            p {
                font-size: 12px;
            }
        }

        &-left {
            &-text {
                padding: 20px;

                .sub-heading {
                    a {
                        font-size: 13px;
                    }
                }

                h4 {
                    a {
                        font-size: 18px;
                    }
                }

                p {
                    a {
                        font-size: 13px;
                    }
                }
            }
        }

        &-right {
            &-text {
                h4 {
                    a {
                        font-size: 1rem;
                    }
                }

                p {
                    a {
                        font-size: 13px;
                    }
                }
            }
        }
    }

    .international {
        padding: 6% 0;

        &-header {
            h3 {
                a {
                    font-size: 1.2rem;
                }
            }

            p {
                font-size: 12px;
            }
        }

        &-left {
            margin-bottom: 30px;

            &-text {
                margin: 0;
                right: 0;
                width: 100%;
                padding: 20px;
            }

            .sub-heading {
                font-size: 13px;
            }

            h3 {
                a {
                    font-size: 18px;
                }
            }

            p {
                a {
                    font-size: 13px;
                }
            }
        }

        &-right {
            &-text {
                h4 {
                    a {
                        font-size: 1.05rem;
                    }
                }

                p {
                    font-size: 13px;
                }
            }
        }
    }

    .footer {
        &-top {
            text-align: center;
            padding: 40px 0 30px 0;
            &-header{
                h5{
                    font-size: 1.05rem;
                    margin-bottom: 14px !important;
                }
            }
            p{
                font-size: 13px;
            }

            &-logo {
                width: 30%;
                margin: 25px auto 0;
            }
            .textarea{
                input{
                    font-size: 13px;
                    padding: 5px 14px;
                }
                .send-icon{
                    padding: 3px 16px 7px 16px;
                }
            }

        }

        &-bottom {
            font-size: 14px;
            &-left {
                text-align: center;
                margin-bottom: 8px;
            }

            &-right {
                text-align: center !important;
            }
        }
    }

    .box {
        width: 40px;
        padding: 6px;

        a {
            font-size: 12px;
        }
    }
}

@include sm{

    .picks{
        padding: 60px 0;
        &-header {
            padding-bottom: 40px ;
            h3 {
                a {
                    font-size: 1.4rem;
                }
            }
        }
    }

    .travel{
        padding: 70px 0;
        &-header {
            padding-bottom: 40px ;
            h3 {
                a {
                    font-size: 1.4rem;
                }
            }
        }
    }

    .sports{
        padding: 70px 0;
        &-header {
            padding-bottom: 40px ;
            h3 {
                a {
                    font-size: 1.4rem;
                }
            }
        }
        &-left{
            &-text{
                padding: 25px;
                .sub-heading{
                    a{
                        font-size: 11px;
                    }
                }
                h4{
                    a{
                        font-size: 1.1rem;
                    }
                }
            }
        }
        &-right{
            &-text{
                .sub-heading{
                    a{
                        font-size: 11px;
                    }
                }
                h4{
                    a{
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    .international{
        padding: 70px 0;
        &-header {
            padding-bottom: 40px ;
            h3 {
                a {
                    font-size: 1.4rem;
                }
            }
        }
    }

    .footer{
        &-top{
            text-align: center;
            &-logo{
                width: 25%;
                margin:  25px auto;
            }
        }
    }
    
    
}

@include md{

    .travel{
        padding: 70px 0;
        &-header {
            padding-bottom: 50px ;
            h3 {
                a {
                    font-size: 1.8rem;
                }
            }
        }
        &-left {
            &-text {
                margin-top: -30px;
                padding: 30px;
                .sub-heading{
                    a{
                        font-size: 13px;
                    }
                }
                h3{
                    font-size: 1.2rem;
                }
            }
        }
        &-right{
            margin-top: 30px;
            .row{
                margin-bottom: 30px;
            }
        }

    }

    .sports{
        &-header {
            padding-bottom: 40px ;
            h3 {
                a {
                    font-size: 1.6rem;
                }
            }
        }
        &-left{
            &-text{
                padding: 25px;
                .sub-heading{
                    a{
                        font-size: 11px;
                    }
                }
                h4{
                    a{
                        font-size: 1.1rem;
                    }
                }
            }
        }
        &-right{
            &-text{
                .sub-heading{
                    a{
                        font-size: 11px;
                    }
                }
                h4{
                    a{
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    .international{
        padding: 70px 0;
        &-header {
            padding-bottom: 50px ;
            h3 {
                a {
                    font-size: 1.8rem;
                }
            }
        }
        &-left {
            &-text {
                margin-top: -30px;
                padding: 30px;
                .sub-heading{
                    a{
                        font-size: 13px;
                    }
                }
                h3{
                    font-size: 1.2rem;
                }
            }
        }
        &-right{
            margin-top: 30px;
            .row{
                margin-bottom: 30px;
            }
        }

    }

    .footer{

        &-top{
            padding: 60px 0 40px 0;
            &-logo{
                width: 45%;
            }
        }

        &-bottom{
          &-left{
            text-align: center;
            margin-bottom: 10px;
          }
          &-right{
            text-align: center !important;
          }
        }
    }
    
}

@include lg{

    .travel{
        padding: 60px 0;
        &-left{
            &-text{
                padding: 30px;
            }
        }
        &-right{
            margin-top: 30px;
        }
    }

    .sports{
        &-header {
            padding-bottom: 50px ;
            h3 {
                a {
                    font-size: 1.7rem;
                }
            }
        }
        &-left{
            &-text{
                padding: 30px;
                .sub-heading{
                    a{
                        font-size: 12px;
                    }
                }
                h4{
                    a{
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    .international{
        padding: 60px 0;
        &-left{
            &-text{
                padding: 30px;
            }
        }
        &-right{
            margin-top: 30px;
        }
    }

    .footer{
        &-top{
            &-logo{
                width: 30%;
            }
        }
    }
    
}

@include xl{

    .travel{
        padding: 80px 0;
    }

    .sports{
        &-header {
            h3 {
                a {
                    font-size: 1.8rem;
                }
            }
        }
    }

    .international{
        padding: 80px 0;
    }
}