@import "breakpoints";

@include xs {

    .header{
        &-top{
            // .social-icons{
            //     width: 50%;
            //     display: inline-block;
            // }
            // .logo{
            //     width: 50%;
            //     display: inline-block;
            // }
            .search{
                display: none;
            }
        }
        &-bottom{
            display: none;
        }
    }

    .cards{
        
        &-top{
            &-left{
                &-text{
                    width: 90%;
                    padding: 25px;
                    .sub-heading{
                        a{
                            font-size: 11px;
                        }
                    }
                    h3{
                        a{
                            font-size: 1.2rem;
                        }
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
            &-mid{
                &-text{
                    transform: translateY(50%);
                    text-align: center;
                    h3{
                        a{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
        &-bottom{
            &-left{
                &-text{
                    padding: 25px;
                    h3{
                        a{
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }

    .trending{
        padding: 80px 0;
        &-header {
            h3 {
                a {
                    font-size: 1.8rem;
                }
            }

            p {
                font-size: 14px;
            }
        }
        &-card{
            &-text{
                padding: 25px;
            }
        }
    }

    .picks {
        &-header {
            h3 {
                a {
                    font-size: 1.8rem;
                }
            }

            p {
                font-size: 14px;
            }
        }

        &-left {
            &-text {
                width: 90%;
                padding: 25px;

                h3 {
                    a {
                        font-size: 18px;
                    }
                }

                p {
                    font-size: 13px;
                }
            }
        }

        &-right{
            &-text{
                padding: 0 25px 0 0;
            }
        }
    }

    .travel {
        padding: 80px 0;

        &-header {
            h3 {
                a {
                    font-size: 1.8rem;
                }
            }

            p {
                font-size: 14px;
            }
        }

        &-left {
            margin-bottom: 30px;

            &-text {
                margin: 0;
                right: 0;
                width: 100%;
                padding: 20px;
            }

            .sub-heading {
                font-size: 13px;
            }

            h3 {
                a {
                    font-size: 18px;
                }
            }

            p {
                a {
                    font-size: 13px;
                }
            }
        }

        &-right {
            &-text {
                h4 {
                    a {
                        font-size: 1.05rem;
                    }
                }

                p {
                    font-size: 13px;
                }
            }
        }
    }

    .sports {
        &-header {
            h3 {
                a {
                    font-size: 1.8rem;
                }
            }

            p {
                font-size: 14px;
            }
        }

        &-left {
            &-text {
                padding: 20px;

                .sub-heading {
                    a {
                        font-size: 13px;
                    }
                }

                h4 {
                    a {
                        font-size: 18px;
                    }
                }

                p {
                    a {
                        font-size: 13px;
                    }
                }
            }
        }

        &-right {
            &-text {
                h4 {
                    a {
                        font-size: 1rem;
                    }
                }

                p {
                    a {
                        font-size: 13px;
                    }
                }
            }
        }
    }

    .international {
        padding: 80px 0;

        &-header {
            h3 {
                a {
                    font-size: 1.8rem;
                }
            }

            p {
                font-size: 14px;
            }
        }

        &-left {
            margin-bottom: 30px;

            &-text {
                margin: 0;
                right: 0;
                width: 100%;
                padding: 20px;
            }

            .sub-heading {
                font-size: 13px;
            }

            h3 {
                a {
                    font-size: 18px;
                }
            }

            p {
                a {
                    font-size: 13px;
                }
            }
        }

        &-right {
            &-text {
                h4 {
                    a {
                        font-size: 1.05rem;
                    }
                }

                p {
                    font-size: 13px;
                }
            }
        }
    }

    .footer {
        &-top {
            padding: 40px 0 30px 0;

            &-logo {
                width: 25%;
            }

            p {
                font-size: 14px;
            }
        }

        &-bottom {
            &-left {
                text-align: center;
                margin-bottom: 8px;
            }

            &-right {
                text-align: center !important;
            }
        }
    }

    .box {
        width: 40px;
        padding: 6px;

        a {
            font-size: 12px;
        }
    }
}

@include sm{
    .footer{
        &-top{
            &-logo{
                width: 25%;
            }
        }
    }
}

@include md{
    .footer{

        &-top{
            padding: 60px 0 40px 0;
            &-logo{
                width: 45%;
            }
        }

        &-bottom{
          &-left{
            text-align: center;
            margin-bottom: 10px;
          }
          &-right{
            text-align: center !important;
          }
        }
    }
}

@include lg{

    .footer{
        &-top{
            &-logo{
                width: 30%;
            }
        }
    }
}

@include xl{
    // .footer{
    //     &-top{
    //         padding: 80px 0px 60px 0px;

    //     }
    // }
}