.footer {
    background-color: #FBF1F2;
    padding: 40px 0;

    h5 {
        font-size: 15px !important;
        font-weight: 600;
        line-height: 25px;
        color: #545454;
        margin: 0;
    }

    // &-logo{
    //     border-right: solid 1px rgba(0,0,0,.14);
    //     height: 100%;
    // }
    // &-contact{
    //     border-right: solid 1px rgba(0,0,0,.14);
    //     height: 100%;
    // }
    // &-icon{
    //     border-right: solid 1px rgba(0,0,0,.14);
    //     height: 100%;
    // }

    ul {
        li {
            font-size: 20px;
            color: #545454;
        }

        .fb {
            a {
                color: #545454;

                &:hover {
                    color: #3A589D;
                }
            }
        }

        .inst {
            a {
                color: #545454;

                &:hover {
                    color: #3A6894;
                }
            }
        }

        .twt {
            a {
                color: #545454;

                &:hover {
                    color: #2478BA;
                }
            }
        }

        .lkdn {
            a {
                color: #545454;

                &:hover {
                    color: #0077B5;
                }
            }
        }

    }
}